html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,i,b,s,section,figure{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family: '微软雅黑','microsoft yahei','Helvetica Neue',Helvetica,Arial,sans-serif;}
ul,ol{list-style:none}
a img{border:none;vertical-align:top}
a{text-decoration:none}
button{overflow:visible;padding:0;margin:0;border:0 none;background-color:transparent}
button::-moz-focus-inner{padding:0}textarea,input{background:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-appearance:normal}
input[type=password]{-webkit-text-security:disc}
textarea:focus,input:focus,button:focus{outline:none}
body{word-wrap:break-word;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust: none}
/*公共文本,布局 begin*/
.fl{float:left;}
.fr{float:right}
.left{float:left;}
.right{float:right;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.txt-title{font-size:14px;color:#444444;font-weight:bold;}
.txt-sectitle{font-size:14px;color:#444444;font-weight:bold;}
.txt-highlight{color:#f8b551;font-weight:bold;}
.link-highlight{color:#3697c2;}
.inline-block{
    display: inline-block;
}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-r-con:5px}
.prm{padding-r-con:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mtxl{margin-top:30px}
.mtxxl{margin-top:50px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mrxl{margin-right:30px}
.mrxxl{margin-right:50px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mbxl{margin-bottom:30px;}
.mbxxl{margin-bottom:50px;}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mhc{margin-left:auto;margin-right:auto;}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.fss{font-size:10px}
.fsm{font-size:12px}
.fsl{font-size:14px}
.fsxl{font-size:16px}
.fsxxl{font-size:18px}
.fsxxll{font-size:20px}
.fwn{font-weight:400}
.fwb{font-weight:700}
.cb{clear: both;}
.relative{position: relative;}
.hide{display: none;}
.m-auto{margin:0 auto;}
.f45{font-size:45px;}
.f42{font-size:42px;}
.f36{ font-size:36px; }
.f34{ font-size:34px; }
.f32{ font-size:32px; }
.f30{ font-size:30px; }
.f28{ font-size:28px; }
.f26{ font-size:26px; }
.f24{ font-size:24px; }
.f22{ font-size:22px; }
.f20{ font-size:20px; }
.f18{ font-size:18px; }
.f16{ font-size:16px; }
.f14{ font-size:14px; }
.f34{ font-size:34px;}
.f40{font-size:40px;}

.backgri{
    background: #edf0f7;
}
.backf8{
    background: #f8f8f8;
}
.backwhite{
    background: #ffffff;
}
.bindpage .header{
    height: 120px;
}

.w750{
    width: 750px;
    margin:0 auto;
    font-size: 18px;
}
.w690{
    width: 690px;
    margin:0 auto;
}
h1{
    font-size:32px;
    font-weight: bold;
}
h2{
    font-size:30px;
}